<h1>Sales</h1>
<table>
  <th>Sale ID</th>
  <th>Employee ID</th>
  <th>Sale Date</th>
  <th>Sale Amount</th>
  <th>Units Sold</th>
  <th>Invoice ID</th>
  <th>Invoice Frequency</th>
  <th>Customer ID</th>
  <th>Product ID</th>
  <% @sales.each do |sale| %>
    <tr>
      <td><%= sale.id%></td>
      <td><%= sale.employee_id %></td>
      <td><%= sale.sale_date %></td>
      <td><%= sale.sale_amount %></td>
      <td><%= sale.units_sold %></td>
      <td><%= sale.invoice_id %></td>
      <td><%= sale.invoice_freq %></td>
      <td><%= sale.customer_id %></td>
      <td><%= sale.product_id %></td>
    </tr>
  <% end%>
</table>
